.button-container {
  display: flex;
  align-items: center;
}

.button {
  color: black;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button:focus {
  outline: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: none;
  box-shadow: none;
}
